                                body {
                                    margin: 0px;
                                    background-color: #8f57fd;
                                    font-family: 'Mulish', sans-serif;
                                }
                                
                                .header {
                                    background-color: #8f57fd;
                                    width: 100%;
                                    height: 80px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                                
                                .header__img {
                                    width: 200px;
                                    /*cuando intente ponerle width y height se pixelo, basta con el width para dejar el logo en su forma adecuada. */
                                    margin-top: 10px;
                                    margin-left: 10px;
                                }
                                
                                .header__menu {
                                    margin: 16px 40px 0 10px;
                                }
                                
                                .header__menu p {
                                    color: white;
                                    margin: 0px;
                                }
                                
                                .header__menu ul {
                                    display: none;
                                    /*  quiero ocultarlo por el momento */
                                    list-style: none;
                                    /* para quitar los puntos a los items de la lista desordenada. */
                                    padding: 0%;
                                    /* le quito el padding que tienen por defecto. */
                                    position: absolute;
                                    /* para ubicarlo respacto al padre.*/
                                    width: 100px;
                                    text-align: right;
                                    /* como estan alineados los items en el menu desplegable*/
                                    margin: 0px 0px 0px -12px;
                                }
                                
                                .header__menu:hover ul,
                                ul:hover {
                                    display: block;
                                    /* utilizando la seudoclase Hover para que al pasar el cursor aparezca el menu que tenia oculto con el display:none seleccionado anteriormente.*/
                                    /* y con al hacer hover cambio el display none al display block.*/
                                }
                                
                                .header__menu li {
                                    margin: 10px 0px;
                                }
                                
                                .header__menu li a {
                                    color: white;
                                    text-decoration: none;
                                    /* para quitar ese subrayado por defecto del hipervinculo etiqueta (a)*/
                                }
                                
                                .header__menu li a:hover {
                                    text-decoration: underline;
                                }
                                
                                .header__menu--profile {
                                    width: 40px;
                                    margin-right: 30px;
                                    display: flex;
                                    align-items: center;
                                }
                                
                                .header__menu--profile img {
                                    width: 40px;
                                    margin-right: 8px;
                                }
                                
                                .main {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                }
                                
                                .main__title {
                                    color: white;
                                    font-size: 25px;
                                }
                                
                                .input {
                                    border: 2px solid white;
                                    border-radius: 25px;
                                    color: white;
                                    /* este es el color del texto al interior del buscador */
                                    font-family: 'Mulish', sans-serif;
                                    font-size: 16px;
                                    width: 70%;
                                    height: 40px;
                                    padding: 0px 20px;
                                    background-color: rgba(255, 255, 255, 0.1);
                                    /*el truco para tomar el color de fondo del body parte del fondo del buscador, en este rgba se tiene en cuenta la opacidad, es como un traslucido. */
                                    outline: none;
                                    /*para quitar al input/buscador el borde que aparece por defecto al darle click al input/buscador*/
                                }
                                
                                 ::placeholder {
                                    color: white;
                                    /* seudoelemento para el texto interno del input/buscador y la propiedad para que ese texto sea blanco.*/
                                }
                                
                                .carousel {
                                    width: 100%;
                                    overflow: scroll;
                                    /* propiedad para general un scroll en el carrusel.*/
                                    padding: 30px;
                                    position: relative;
                                    /* los elementos hijos se van a posicionar con respecto a el, al padre */
                                }
                                
                                .carousel__container {
                                    white-space: nowrap;
                                    /* puedo revisar la documentacion pero en resumen es que los elementos dentro del container siguen la linea de escritura segun van apareciendo y para eso tengo el scroll para ver cada uno de los elementos en el container.        */
                                    margin: 70px 0px;
                                    padding-bottom: 10px;
                                }
                                
                                .carousel-item {
                                    background-color: salmon;
                                    /* provisional pa ver como toma las especificaciones*/
                                    width: 200px;
                                    height: 250px;
                                    border-radius: 20px;
                                    margin-right: 10px;
                                    overflow: hidden;
                                    display: inline-block;
                                    /* para ubicar una imagen(div) al lado de la otra en la misma fila de items contenidos en el container.*/
                                    cursor: pointer;
                                    /* cambio el cursor en el item de flecha a manito*/
                                    transition: 450ms all;
                                    /* es el tiempo de la animacion, un poco mas lento y facil de apreciar y aplicado a todos los items.*/
                                    transform-origin: center left;
                                    /* para que no se nos salga la animacion y empiece de izq a der.*/
                                    position: relative;
                                }
                                /* necesito hacer el hover cuando se pose el usuario en la imagen del carrusel se amplia ese item*/
                                
                                .carousel-item:hover~.carousel-item {
                                    /* esta seleccion es para no solo cuando se haga hover sino que aplica tambien para cuando no se haga hover en los elementos del carrusel*/
                                    transform: translate3d(100px, 0, 0);
                                    /* los elementos se van a desplazar a la derecha*/
                                }
                                
                                .carousel__container:hover .carousel-item {
                                    opacity: 0.3;
                                }
                                
                                .carousel__container:hover .carousel-item:hover {
                                    transform: scale(1.5);
                                    opacity: 1;
                                }
                                
                                .carousel-item__img {
                                    width: 200px;
                                    height: 250px;
                                    object-fit: cover;
                                    /* ojo excelente propiedad nueva, ajusta las imagenes al contenedor con su tamano real sin pixelar.*/
                                }
                                
                                .carousel-item__details {
                                    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0)100%);
                                    /* es un desvanecido desde el color mas claro hasta el mas oscuro en la tonalidad negros.*/
                                    font-size: 10px;
                                    opacity: 0;
                                    transition: 450ms opacity;
                                    /*la idea es que el gradiente aparezca animado a ese tiempo fijado y con la opacidad indicada.*/
                                    padding: 10px;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    /* aca centro los elementos haciendo top 0 y demas.*/
                                }
                                
                                .carousel-item__details:hover {
                                    opacity: 1;
                                    /* cuando hacemos hover se ven los detalles, muy usados estos tips, dejar escondidos los detalles o ciertos elementos y aparecerlos con hover.*/
                                }